{% extends "admin/change_list.html" %}
{% load unfold %}

{% block content %}

<div style="display:grid; grid-template-columns: 1fr 1fr; gap:20px;">

    {% component "unfold/components/card.html" with title="New Users (7 days)" %}
        {% component "unfold/components/chart/bar.html" with component_class="UsersPerDayChart" %}
        {% endcomponent %}
    {% endcomponent %}

    {% component "unfold/components/card.html" with title="User Status" %}
        {% component "unfold/components/chart/bar.html" with component_class="UserStatusChart" %}
        {% endcomponent %}
    {% endcomponent %}

</div>

<br>

{% component "unfold/components/card.html" with title="Growth" %}
    {% component "unfold/components/chart/bar.html" with component_class="GrowthChart" %}
    {% endcomponent %}
{% endcomponent %}

{{ block.super }}

{% endblock %}