<!-- templates/unfold/helpers/avatar.html -->
{% load i18n %}

<div class="relative inline-flex shrink-0 items-center justify-center text-center font-medium transition-all duration-200
    {% if size == "lg" %}
        h-10 min-w-10 w-10 text-base
    {% elif size == "md" %}
        h-8 min-w-8 w-8 text-sm
    {% elif size == "sm" %}
        h-[30px] min-w-[30px] w-[30px]
    {% elif size == "xs" %}
        h-[26px] min-w-[26px] w-[26px] text-xs
    {% else %}
        h-[38px] min-w-[38px] w-[38px]
    {% endif %}
    {% if circle %}rounded-full after:rounded-full{% else %}rounded-default after:rounded-default{% endif %}"
    {% if avatar_url %}style="background-image: url('{{ avatar_url }}');"{% endif %}>

    {% if not avatar_url %}
        {# Xatolikni oldini olish uchun username ni ishlatamiz #}
        {% if user.username %}
            {{ user.username|slice:":1"|upper }}
        {% elif user.telegram_id %}
            {{ user.telegram_id|slice:":1"|upper }}
        {% else %}
            U
        {% endif %}
    {% endif %}
</div>